::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*---------------------------------------
   Typography
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
  font-family: 'Lane';
  src: url('../fonts/lanenar_Lane.eot');
  src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  @font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
  }
}

/* HEADINGS */

h2 {
  font-family: 'Lane', sans-serif;
  font-size: 2.3rem;
  line-height: 2.3rem;
}

/*---------------------------------------
   Body Content
-----------------------------------------*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #909092;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

#background {
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/bg-off.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.background-fill {
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.bulb {
  width: 40%;
  height: 80%;
  background-image: url(../images/bulb-off.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -20%;
  left: 20%
}

.bulb-highlight {
  width: 40%;
  height: 80%;
  -webkit-filter: saturate(10000%) hue-rotate(0deg) blur(25px);
  -moz-filter: saturate(10000%) hue-rotate(0deg) blur(25px);
  -o-filter: saturate(10000%) hue-rotate(0deg) blur(25px);
  -ms-filter: saturate(10000%) hue-rotate(0deg) blur(25px);
  filter: saturate(10000%) hue-rotate(0deg) blur(25px);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -20%;
  left: 20%;
}

.bulb-diffuser {
  width: 40%;
  height: 80%;
  -webkit-filter: saturate(10000%) hue-rotate(0deg);
  -moz-filter: saturate(10000%) hue-rotate(0deg);
  -o-filter: saturate(10000%) hue-rotate(0deg);
  -ms-filter: saturate(10000%) hue-rotate(0deg);
  filter: saturate(10000%) hue-rotate(0deg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -20%;
  left: 20%;
}

.bulb-shadow {
  width: 40%;
  height: 80%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -20%;
  left: 20%;
  opacity: 0;
}

#previous-state {
  z-index: 2;
}

#current-state {
  z-index: 3;
}

#current-state, #previous-state {
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/bg-off.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  width: 30%;
  background-color: rgba(50, 50, 50, .3);
  box-shadow: 0 0 5px rgba(50, 50, 50, .3);
  -webkit-box-shadow: 0 0 50px rgba(50, 50, 50, .3);
  -moz-box-shadow: 0 0 50px rgba(50, 50, 50, .3);
  position: absolute;
  top: 10%;
  left: 50%;
  max-height: 70%;
  overflow: auto;
  z-index: 4;
}
#content div {
  margin: 7% 10%;
  line-height: 1.25em;
}


/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 1024px) {
  #content {
    left: auto;
    right: 10%;
    width: 40%;
  }
  #content p img {
    width: 100px;
  }
  .bulb, .bulb-highlight, .bulb-diffuser, .bulb-shadow {
    left: 10%;
  }
}
